.formWrapper
  display: flex
  justify-content: center
  span
    text-transform: uppercase
    font-weight: 500


.eventDateInput
  width: 100%

form
  min-width: 320px
  max-width: 560px
  display: flex
  flex-direction: column
  width: 100%
  margin-bottom: 100px
  label
    display: flex
    flex-direction: column
    input
      margin-top: 10px
      margin-bottom: 10px

.fieldWrapper
  display: flex
  flex-direction: column
  margin-bottom: 11.5px


.eventDateWrapper
  display: flex
  align-items: center
  margin: 10px 0
  justify-content: space-between
  input
    padding: 21px 23px
    background-color: white
    border: 2px solid black
    font-size: 16px
    cursor: pointer
    border-radius: 10px
  input:hover
    background: #00c9a7

.warningMessage
  margin: 10px 0