@import 'src/utils/SASS/variables/variables'

.startContestBtn
  margin: 0 auto
  text-align: center
  padding: 18px 0
  border-radius: $buttons-border-radius
  border: 2px solid white
  width: 235px
  color: white
  text-transform: uppercase
  background-color: transparent
  font-weight: $light-font-weight
  font-family: $bold-font-family

.startContestBtn:hover
  color: $light-blue-color
  background: white