$bootstrap-sm: 576px
$bootstrap-md: 768px
$bootstrap-lg: 992px
$bootstrap-xlg: 1200px
$common-pd-mg-value: 15px
$common-color: #515b5f
$header-font-size: 36px
$circle-sizes: 90px
$half: 50%
$common-pd-value: 20px
$circle-color: #ebebeb